{{##def.page_title = 'Leader Board' #}}

{{##def.content:
<div class="content row panel radius">

    <div class="row">
        <div class="small-5 columns">
            <p>
                Who ever loses the most money on bustabit between "September 25, 00:00 UTC" and  "October 1, 00:00 UTC" wins a gold trim silver wallet!
            </p>
            <a href="https://bitcointalk.org/index.php?topic=1189765.0">Full details</a></div>
        <div class="small-5 columns"><iframe src="https://freesecure.timeanddate.com/countdown/i4v4eu9z/cf12/cm0/cu4/ct0/cs0/ca0/cr0/ss0/cac000/cpc000/pcfff/tcfff/fs100/szw320/szh135/tatTime%20remaining/tac333/tpt%3Ccontest%20over%20since%3E/tpc000/mac000/mpc000/iso2015-10-01T00:00:00" allowTransparency="true" frameborder="0" width="212" height="69"></iframe></div>
    </div>
<hr>
    <h5 id="top">Current biggest losers:</h5>

    <hr>
    <table class="leaders">
        <thead>
            <tr>
                <td>
                    #
                </td>
                <td>
                    Player
                </td>
                <td>
                    Profit
                </td>
            </tr>
        </thead>
        <tbody>
            {{~it.losers :loser:index}}
                <tr>
                    <td>
                        {{= index+1 }}
                    </td>
                    <td>
                        <a href="/user/{{=loser.username}}">{{=loser.username}}</a>
                    </td>
                    <td>
                        {{#def.format: { n: loser.profit, decimals: 2 } }} bits
                    </td>
                </tr>
            {{~}}

        </tbody>
    </table>

</div>
#}}

{{#def.include('./template/main_old')}}