{{##def.page_title = 'Register' #}}

{{##def.content:
<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">
    function enableSubmit() {
        $('#loginSubmit').removeClass('secondary');
    }

    window.onload = function () {
        if (document.getElementById('confirmation') !== null) {
            document.getElementById('confirmation').onchange = validatePassword;
            document.getElementById('password').onchange = validatePassword;
        }
    };
    function validatePassword() {
        var password = document.getElementById('password').value;
        var confirm = document.getElementById('confirmation').value;
        if (password != confirm) {
            document.getElementById('confirmation').setCustomValidity("Confirmation and password should be the same");
        } else document.getElementById("confirmation").setCustomValidity('');
    }


</script>

<div class="warning">
    Reminder: You must use a strong and <em>unique</em> password. Other sites have been logging and leaking passwords,
    if you do not use a unique passwords you will probably end up hacked.
    Here's a strong and unique password: <strong id="randPassword"></strong>&nbsp;
    you can use this (just make sure to save it, and set a recovery email)
</div>

        <div class="register">
            <form action="/register" method="post" onsubmit="return submitEnabled;">
                <div class="row">
                    <div class="large-12 columns input">
                        <h5>Create a new account <small><a href="login">already have one?</a></small></h5>
                        <hr>
                    </div>

                    <div class="large-12 columns input">

                        <div class="row">
                            <div class="large-3 columns">
                                <label for="username">Username</label>
                            </div>
                            <div class="large-9 columns">
                                <input id="username" type="text" name="user[name]" value="{{?it.values}}{{!it.values.name}}{{?}}" autocomplete="off" pattern="[A-Za-z0-9_\-]{3,16}" title="Username only allowed alphanumeric, hyphen and underscore" required />
                            </div>
                        </div>
                    </div>
                    <div class="large-12 columns input">

                        <div class="row">
                            <div class="large-3 columns">
                                <label for="email">*Recovery Email</label>
                            </div>
                            <div class="large-9 columns">
                                <input type="email" id="email" value="{{?it.values}}{{!it.values.email}}{{?}}" placeholder="you@email.com" name="user[email]" autocomplete="off"/>
                                <small><b>* Optional</b> although we <b>strongly advise you to use one</b>, otherwise it is <b>not possible</b> to password reset!</small>
                            </div>
                        </div>
                    </div>
                    <div class="large-12 columns input">
                        <div class="row">
                            <div class="large-3 columns">
                                <label>Password</label>
                            </div>
                            <div class="large-9 columns">
                                <input id="password" type="password" value="{{?it.values}}{{!it.values.password}}{{?}}" name="user[password]" autocomplete="off" pattern=".{7,200}" title="Password should be at least 7 characters" required/>
                                <small>Pick something secure, at least 7 characters, do not reuse passwords</small>
                            </div>
                        </div>
                    </div>
                    <div class="large-12 columns input">
                        <div class="row">
                            <div class="large-3 columns">
                                <label>Confirm Password</label>
                            </div>
                            <div class="large-9 columns">
                                <input id="confirmation" type="password" value="{{?it.values}}{{!it.values.confirm}}{{?}}" name="user[confirm]" autocomplete="off" pattern=".{7,200}" data-equal-id="password" required/>
                            </div>
                        </div>
                    </div>
                    <div class="large-12 columns input">
                        <div class="g-recaptcha" data-sitekey="{{=it.recaptchaKey}}" data-callback="enableSubmit"></div>
                        <input id="registerSubmit" class="button secondary right" type="submit" value="Register"/>
                    </div>
                </div>
            </form>
        </div>
<script>
    var Password = {

        _pattern : /[a-zA-Z0-9]/,


        _getRandomByte : function()
        {

            if(window.crypto && window.crypto.getRandomValues)
            {
                var result = new Uint8Array(1);
                window.crypto.getRandomValues(result);
                return result[0];
            }
            else if(window.msCrypto && window.msCrypto.getRandomValues)
            {
                var result = new Uint8Array(1);
                window.msCrypto.getRandomValues(result);
                return result[0];
            }
            else
            {
                return Math.floor(Math.random() * 256);
            }
        },

        generate : function(length)
        {
            return Array.apply(null, {'length': length})
                .map(function()
                {
                    var result;
                    while(true)
                    {
                        result = String.fromCharCode(this._getRandomByte());
                        if(this._pattern.test(result))
                        {
                            return result;
                        }
                    }
                }, this)
                .join('');
        }

    };
    document.getElementById('randPassword').innerText = Password.generate(16)
</script>
#}}
{{#def.include('./template/main_old')}}
